# directories
doc
obj

# emacs back-up files
*~
*/*~

# old / compute canada versions
Makefile_*
modules_compute_canada.sh

# rough notes
*.org

# output files
checkpoint*
test*

# executables
nup_model_*
